/* text tieu de */
.title {
    -fx-fill: #FFC14B;
    -fx-font-size: 1.8em;
    -fx-font-weight: 700;
}

Button {
    -fx-font-size: 1.2em;
    -fx-pref-width: 90;
    -fx-background-radius: 20;
}

.btn_bill {
    -fx-pref-width: 96;
    -fx-font-size: 1.2em;
    -fx-background-color: #3aff51;
}


.hover:hover {
    -fx-cursor: hand;
}

/* khung search */
.search {
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 25;
    -fx-border-width: 1;
    -fx-border-color: linear-gradient(to bottom right, #17EA9D, #6078EA);
}

.search:focused {
    -fx-border-width: 1.8;
}

/* khung quan ly phong */
    /* khung nhap lieu */
.hb_field {
    -fx-alignment: center_left;
    -fx-spacing: 10;
    -fx-border-width: 0 0 0.2 0;
    -fx-border-color: #888888;
}

.hb_field Label {
    -fx-font-size: 1.2em;
    -fx-text-fill: black;
}

.hb_field TextField {
    -fx-background-color: transparent;
    -fx-text-fill: #888888;
    -fx-font-size: 1.2em;
}

.hb_field ComboBox {
    -fx-background-color: transparent;
    -fx-text-fill: #888888;
    -fx-font-size: 1.2em;
}

/* table danh sach phong */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #17EA9D, #6078EA);
    -fx-border-radius: 8;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #17EA9D, #6078EA);
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header, filter {
    -fx-background-color: linear-gradient(to bottom right, #17EA9D, #6078EA);
    -fx-background-insets: 0 0 0 0;
}